.section-title {
  width: 100%;
  text-align: center;
  font-size: 6.4rem;
  font-family: var(--font-display);
  padding-top: 2em;
  position: relative;

  @media only screen and (max-width: 56.25em) {
    font-size: 5.6rem;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 4rem;
  }

  &::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary-300);
    opacity: 0.4;
    filter: blur(20rem);
  }
}
